@import "abstracts/class";

.card {
  border: transparent;
  width: 100%;
  margin: 0;
  transition: width 2s;
  cursor: pointer;
    .card-body {
      position: absolute;
      bottom: 0;
      color: white;
    }

    .full-background {
      background-color: #00000042;
      &:hover {
       background-color: transparent;
      }
    }

    &:hover {  width: 400px; z-index: 1; }
    i { font-size: 25px; }
}
